* {
  margin: 0px;
}

.headercontainer {
  background-color: rgb(227, 227, 227);
  padding: 5px;
  transition: transform 0.7s ease;
}

.headericon {
  width: 50px;
  background-color: rgb(227, 227, 227);
  margin-left: 10px;
}

.headericon:hover {
  transform: scale(1.07);
}

.headContainer {
  margin: 50px 27px;
  background-color: rgb(239, 239, 239);
  text-align: center;
  font-family: sans-serif;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  min-width: 250px;
  transition: box-shadow 0.3s ease;
}

.headContainer:hover {
  box-shadow: 0 0 15px rgb(232, 161, 253);
}

.headContainer img {
  width: 220px;
}

.p,
.h4 {
  margin: 5px;
}

.button {
  padding: 5px;
  margin: 5px;
  font-family: sans-serif;
  transition: transform 0.4s ease;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  transition: box-shadow 0.3s ease;
}

.button:hover {
  color: rgb(195, 9, 252);
  background-color: rgb(255, 255, 255);
  transform: scale(1.04);
  box-shadow: 0 0 5px rgb(113, 113, 113);
  
}

.background {
  background-size: cover;
}